block variables
  title Node detail: #{overview.uuid} - Ironic Dashboard

extends layout

block head
  script(src="/js/funcs.js")

block content
  .row.actions
    .col-md-12
      .btn-group
        button.btn.btn-default(onClick='expandAccordion()') Expand
        button.btn.btn-default(onClick='foldAccordion()') Fold

      .btn-group.pull-right
        a.btn.btn-primary(href=links.neutron) View Neutron Data

  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          h1.panel-title
            a(data-toggle="collapse" data-target="#overview" href="#overview") Overview
        #overview.panel-collapse.collapse
          table.table.table-striped.table-hover
            tbody
              tr
                th Node ID
                td=overview.uuid
              tr
                th Instance ID
                if links.alerts
                  td
                    a(href=links.alerts)=overview.instance_id
                else
                  td=overview.instance_id
              tr
                th Mood
                td=overview.mood
              tr
                th Node URL
                td=links.node
              tr
                th Agent URL
                td=links.agent
              tr
                th Flavor
                td=overview.flavor
              tr
                th Power State
                td=overview.power_state

  .row
    .col-md-12
        .panel.panel-default
          .panel-heading
            h1.panel-title
              a(data-toggle="collapse" data-target="#state" href="#state") State
          #state.panel-collapse.collapse
            table.table.table-striped.table-hover
              tbody
                tr
                  th Power State
                  td=state.power_state
                tr
                  th Target Power State
                  td=state.target_power_state
                tr
                  th Provision State
                  td=state.provision_state
                tr
                  th Target Provision State
                  td=state.target_power_state
                tr
                  th Clean Step
                  td=state.clean_step
                tr
                  th Provision Updated At
                  td=state.provision_updated_at
                tr
                  th Reservation
                  td=state.reservation
                tr
                  th Created At
                  td=state.created_at
                tr
                  th Update At
                  td=state.updated_at

  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          h1.panel-title
            a(data-toggle="collapse" data-target="#error" href="#error") Error Info
        #error.panel-collapse.collapse
          table.table.table-striped.table-hover
            tbody
              tr
                th Last Error
                td=error.last_error
              tr
                th Last Heartbeat
                td=error.last_heartbeat
              tr
                th Console Enabled?
                td=error.console_enabled

  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          h1.panel-title
            a(data-toggle="collapse" data-parents="#accordion" href="#maintenance") Maintenance Info
        #maintenance.panel-collapse.collapse
          table.table.table-striped.table-hover
            tbody
              tr
                th Maintenance Reason
                td=maintenance.maintenance_reason

  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          h1.panel-title
            a(data-toggle="collapse" data-target="#ipmi" href="#ipmi") IPMI
        #ipmi.panel-collapse.collapse
          table.table.table-striped.table-hover
            tbody
              tr
                th IPMI Address
                td=ipmi.ipmi_address
              tr
                th IPMI Username
                td=ipmi.ipmi_username
              tr
                th IPMI Password
                td=ipmi.ipmi_password

  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          h1.panel-title
            a(data-toggle="collapse" data-target="#raw" href="#raw") Raw
        #raw.panel-collapse.collapse
          .panel-body
            pre=raw
